body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #070F2B;
  color: #fff;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0px; /* Adjusted margin-bottom */
  font-family: 'Lobster', cursive;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-bottom: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #1B1A55;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease; /* Add transition for background-color */
}

.cell:hover {
  background-color: #353C91; /* Change background color on hover */
}

.result {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#restart-button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

#restart-button:hover {
  background-color: #0056B3;
  transform: scale(1.1);
}

.mode-container {
  text-align: center; /* Center the toggle button */
  margin-bottom: 20px; /* Adjust the margin to provide the same space */
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 15px; /* Adjust border radius for rounded corners */
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; /* Adjust height of the slider button */
  width: 20px; /* Adjust width of the slider button */
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px); /* Adjust the distance the button moves when checked */
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px; /* Adjust border radius for rounded corners */
}

.slider.round:before {
  border-radius: 50%;
}
